  .content{
    padding: 35px;
  }

  table {
    width: 100%;
  }

  h3 {
    font-family: "Titillium SemiBold";
    font-size: 24px;
    color: rgba(51, 51, 51, 1);
    margin-top: 0px;
  }

  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  .table-header {
    background-color: #bdc3c72e;
  }

  .search-input {
    border: 1px rgba(13, 23, 33, 0.1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.02);
  }

  .container-btn-new{
    justify-content: right;
  }

  .label-select-pagination{
    color: rgba(144, 145, 145, 1);
    font-family: "Titillium Regular";
    font-size: 16px;
  }

  @media screen and (max-width: 1037px) {
    .label-select-pagination {
      display: none;
    }
  }

  .select-size-list{
    width: 75px;
    height: 45px;
    color: rgba(144, 145, 145, 1);
    font-family: "Titillium Regular";
    font-size: 16px;
  }

  .btn-new {
    background-image: linear-gradient(to top, rgba(255, 194, 0, 1), rgba(253, 214, 86, 1));
    color: rgba(255, 255, 255, 1);
    font-family: "Titillium Bold";
    font-size: 16px;
    height: 48px;
    width: 141px;
    position: relative;
  }

  .btn-back {
    background-image: linear-gradient(to top, #ffc200, #fdd656);
    color: white;
    font-family: "Titillium Bold";
    font-size: 14px;
    height: 48px;
    width: 141px;
    position: relative;
    margin: 10px 36px 0px 0px;
    text-align: center;
    text-transform: uppercase;
  }

  .loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.0);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .rate-limit-reached {
    color: #980000;
    max-width: 360px;
    text-align: center;
  }

  .main-drawer{
    padding: 35px;
  }

  .content-drawer{
    padding: 10px;
  }

  .th-column{
    width: 25%;
  }

  #toolbar-register-company, #toolbar-user-profile{
    font-family: "Titillium SemiBold";
    font-size: 18px;
    color: #2B2B2B;
  }

  .container-btn-filter {
    padding-top: 5px;
  }

  /* PAGE SIZE BUTTON */
:host ::ng-deep .select-size-list .mat-form-field-flex{
  padding: 0 8px 0 16px;
}

:host ::ng-deep .select-size-list .mat-form-field-infix{
  padding: 12px 0;
}

:host ::ng-deep .select-size-list .mat-select-arrow{
  margin: 0 7px;
}

:host ::ng-deep .select-size-list .mat-select-arrow-wrapper{
  height: 24px;
}

:host ::ng-deep .select-size-list .mat-select-value-text {
  padding-left: 0px;
}
