<div class="menu-item-info-box">
  <span class="menu-item-info-box-icon">
      <img src="https://d701vexhkz032.cloudfront.net/media/images/menu-content/BR/sanduiches-de-carne/bigmac_v2.png"></span>

  <div class="menu-item-info-box-content">
    <span class="menu-item-info-box-text">{{product.name}}</span>
    <span class="menu-item-info-box-detail">{{product.name}}</span>
    <span class="menu-item-info-box-price">R${{product.price}}</span>
    <a (click)="emitAddEvent()" style="color: #3c8dbc"><mat-icon svgIcon="add" style="color: #3c8dbc"></mat-icon>Adicionar</a>
  </div>
  <!-- /.info-box-content -->
</div>
