.mat-toolbar{
  background: #dd4b39;
  color: white;
}
.mat-sidenav{
  background: #2B2B2B;
  padding: 15px;
}
.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-radio-group {
  display: block;
  border: 1px solid #555;
  margin: 20px;
  padding: 10px;
}

a{
  padding: 0px 0px 12px 14px;
  display: block;
  color: white;
  text-decoration: none;
}
